<div id="archives">
    <div class="row">
        <div class="small-12 columns"><h2>PK Incident Archives</h2></div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <h4>Search Criteria:</h4>
        </div>
        <div class="small-5 columns small-vertical-middle">
            <input type="radio" name="searchCriteria" value="date" required><label for="searchDate"><strong>Incident Date</strong></label>
            <input type="radio" name="searchCriteria" value="lastName" required><label for="searchLastName"><strong>Patient Last Name</strong></label>
            <input type="radio" name="searchCriteria" value="incidentID" required><label for="searchIncidentID"><strong>Incident ID</strong></label>
        </div>
        <div class="small-4 columns" id="searchDate">
            <input type="date" id="searchDateInput" name="searchDateInput" placeholder="Date">
        </div>
        <div class="small-4 columns" id="searchLastName">
            <input type="text" id="searchLastNameInput" name="searchLastNameInput" placeholder="Last Name">
        </div>
        <div class="small-4 columns" id="searchIncidentID">
            <input type="number" id="searchIncidentIDInput" name="searchIncidentIDInput" placeholder="Incident Number" maxlength="4">
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns" id="incidentData"></div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <br><span class="button large expanded success" id="returnButton"><strong>Return to Incident Reporting</strong></span>
        </div>
    </div>
</div>