<div id="archives">
    <div class="row">
        <div class="small-12 columns"><h2>PK Incident Archives</h2></div>
    </div>
    <div class="row">
        <div class="small-3 columns">
            <h4>Search Criteria:</h4>
        </div>
        <div class="small-5 columns small-vertical-middle">
            <input type="radio" name="searchCriteria" value="date" id="searchDate"><label for="searchDate"><strong>Incident Date</strong></label>
            <input type="radio" name="searchCriteria" value="lastName" id="searchLastName"><label for="searchLastName"><strong>Patient Last Name</strong></label>
            <input type="radio" name="searchCriteria" value="incidentID" id="searchIncidentID"><label for="searchIncidentID"><strong>Incident ID</strong></label>
        </div>
        <div class="small-3 columns" id="searchBlank">&nbsp;</div>
        <div class="small-3 columns" id="searchDateDiv">
            <input type="date" id="searchDateInput" name="searchDateInput" placeholder="Date">
        </div>
        <div class="small-3 columns" id="searchLastNameDiv">
            <input type="text" id="searchLastNameInput" name="searchLastNameInput" placeholder="Last Name">
        </div>
        <div class="small-3 columns" id="searchIncidentIDDiv">
            <input type="number" id="searchIncidentIDInput" name="searchIncidentIDInput" placeholder="Incident Number" maxlength="4">
        </div>
        <div class="small-1 columns" id="searchButtonDiv">
            <span class="button" id="searchButton">Search</span>
        </div>
        <hr>
    </div>

    <div id="incidentData">
        <div class="row" id="IncidentHeaders">
            <div class="small-1 columns"><strong>SELECT:</strong></div>
            <div class="small-1 columns"><strong>Last:</strong></div>
            <div class="small-1 columns"><strong>First:</strong></div>
            <div class="small-1 columns"><strong>Date:</strong></div>
            <div class="small-7 columns"><strong>Incident Description:</strong></div>
            <div class="small-1 columns"><strong>Location:</strong></div>
        </div>
    </div>

    <div class="row text-center">
        <div class="small-12 columns">
            <span class="button" id="selectedArchivesButton"><strong>Generate reports from above selected incidents</strong></span>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="small-12 columns">
            <br><span class="button large expanded success" id="returnButton"><strong>Return to Incident Reporting</strong></span>
        </div>
    </div>
</div>