<% include public/views/header.ejs %>

    <div class="row">
        <div class="large-4 columns">&nbsp;</div>
        <div class="large-4 columns float-center">
            <br><br><span class="label expanded"><strong>Password</strong></span>
            <input class="large-expanded" type="password" id="password" name="password" placeholder="Enter password to continue">
        </div>
        <div class="large-4 columns">&nbsp;</div>
    </div>
<br><br>
    <div class="row">
        <div class="large-12 columns">
            <a href="http://pksp.org" target="_blank"><img src="public/images/tl_ab.png" alt="PKSP" width="768" height="343" class="float-center"></a>
        </div>
    </div>
<!-- SCRIPTS -->
<script type="module" src="public/javascripts/password.js"></script>

<% include public/views/footer.ejs %>